<mat-toolbar color='primary'>
  <span class='span'>Задачи</span>
      <div class="example-button-container">
        <button mat-mini-fab color="primary"
        style="font-size : 30px"
        (click)="openDialog()">
          +
        </button>
      </div>  
</mat-toolbar>

<div class="container">
  <div class="row">
    <div class='col-md-5 mx-auto my-4' 
         *ngFor="let project of projects; trackBy: trackByProjects">
      <mat-card>
        <mat-card-title>
          {{project.title}}
        </mat-card-title>
        <hr>
        <mat-card-content>
          <div *ngFor="let todo of project.todos; trackBy: trackByTodos">
            <mat-checkbox 
              [(ngModel)]="todo.isCompleted" 
              color="primary" 
              (click)="changeStatus(project.id, todo.id,!todo.isCompleted)" 
              [ngClass]="{strikethrough: todo.isCompleted}">
               {{todo.text}} 
            </mat-checkbox>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>



